 :root {
   --verde: #34A853;
   --giallo: #FBBC05;
   --rosso: #EA4335
 }

 .risk {
  min-width: 50px;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  border-radius: 8px;
}

.risk.verde {
  background-color: var(--verde); /* Green */
  color: white;
}

.risk.giallo {
  background-color: var(--giallo); /* Yellow */
  color: black;
}

.risk.rosso {
  background-color: var(--rosso); /* Red */
  color: white;
}

.small-box {
  border-radius: 15px;
}

.small-box.verde {
  background-color: var(--verde); /* Green */
  color: white;
}

.small-box.giallo {
  background-color: var(--giallo); /* Yellow */
  color: black;
}

.small-box.rosso {
  background-color: var(--rosso); /* Red */
  color: white;
}

#DataTables_Table_0_wrapper {
  padding-top: 20px;
}
